<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http_equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> AniRec </title>
</head>
<body>
<div class="h1">
        <p>AniRec <span id="desc">the place to find anime you enjoy </span> </p>
</div>
<div class="nav">
        <a id="fNav" href="/">Home</a>
        <a href="my.html">My Personal Recs</a>
        <a href="about.html">About</a>
        <button type="submit"><i class="fa fa-search"></i></button>
        <input type="text" placeholder="Search Anime" name="search">
</div>
<div>
    <div class="h2">
            <p>Top Anime For You</p>
    </div>
    <div class="h4">
        {% for anime in recommend %}
            <p> {{ anime.0 }} </p>
            <div class="info">
                <p>Genres: {{ anime.1 }}</p>
                <p>Type: {{ anime.2 }}</p>
                <p>Number of Episodes: {{ anime.3 }}</p>
                <p>Rating: {{ anime.4 }}</p>
            </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"> </script>
</body>
</html>